<form class="form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Enter product name" type="text" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput formControlName="price" placeholder="Enter price" type="number" />
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-label>Image URL</mat-label>
    <input matInput formControlName="imgUrl" placeholder="Enter image URL" type="text" />
  </mat-form-field> -->
  <p-fileUpload  (onSend)="send()"  name="myfile[]" url="./upload.php" [multiple]=true accept="image/*" required></p-fileUpload>

  <mat-form-field>
    <mat-label>Shop</mat-label>
    <input matInput formControlName="shop" placeholder="Enter shop name" type="text" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Color</mat-label>
    <mat-select formControlName="color" multiple placeholder="Select product color">
      <mat-option *ngFor="let color of colorList" [value]="color">{{ color }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="custom-color-input">
    <mat-form-field>
      <input #newColor matInput placeholder="Add color" type="text" />
    </mat-form-field>
    <button class="custom-color-btn" mat-raised-button color="primary" (click)="addCustomColor()">
      Add
    </button>
  </div>

  <mat-form-field>
    <mat-label>Size</mat-label>
    <mat-select formControlName="size" placeholder="Select product size" multiple>
      <mat-option *ngFor="let size of sizeList" [value]="size">{{ size }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="description-field">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      formControlName="description"
      placeholder="Enter product description"
      type="text"
    ></textarea>
  </mat-form-field>

  <h4 class="optional-title">Optional</h4>
  <mat-form-field>
    <mat-label>Discount (%)</mat-label>
    <input
      matInput
      formControlName="discount"
      placeholder="Enter discount percentage"
      type="number"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Discount until</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="discountUntil"
      placeholder="Select discount expiration date"
      type="datetime-local"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-checkbox formControlName="new">New</mat-checkbox>
  <mat-checkbox formControlName="shipping">Free Shipping</mat-checkbox>
  <mat-checkbox formControlName="main">Main</mat-checkbox>

  <button class="btn-submit" mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Save {{productForm.invalid}}</button>
</form>

