<div class="contact__container">
  <div class="contact__location contact__group">
    <span>Adress <mat-icon>map-marker</mat-icon></span>
    <a
      target="_blank"
      href="https://www.google.com/maps/place/Orange+Shop/@29.42023,-82.10895,26203m/data=!3m1!1e3!4m5!3m4!1s0x0:0x89e67944a100b096!8m2!3d29.41984!4d-82.1096148?hl=en-CA"
      class="contact__location-text"
      >18545 US-301, Citra, FL 32113</a
    >
  </div>
  <div class="contact__working-hours contact__group">
    <span>Working Hours <mat-icon>access_time</mat-icon></span>
    <table
      class="clear about-us__contact__store-hours__table"
      cellspacing="0"
      cellpadding="0"
      border="0"
    >
      <thead>
        <tr>
          <th>Day</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sunday:</td>
          <td class="closed">Closed</td>
        </tr>
        <tr>
          <td>Monday:</td>
          <td notranslate="">8:30 AM - 4:00 PM</td>
        </tr>
        <tr>
          <td>Tuesday:</td>
          <td notranslate="">8:30 AM - 4:00 PM</td>
        </tr>
        <tr>
          <td>Wednesday:</td>
          <td notranslate="">8:30 AM - 4:00 PM</td>
        </tr>
        <tr>
          <td>Thursday:</td>
          <td notranslate="">8:30 AM - 4:00 PM</td>
        </tr>
        <tr>
          <td>Friday:</td>
          <td notranslate="">8:30 AM - 4:00 PM</td>
        </tr>
        <tr>
          <td>Saturday:</td>
          <td notranslate="">8:30 AM - 12:00 PM</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="contact__phone contact__group">
    <span>Phone: <mat-icon>local_phone</mat-icon></span>
    <a target="_blank" href="tel:+18254562243" class="contact__phone-text">+18254562243</a>
  </div>
</div>

<app-map></app-map>
<app-contact-form></app-contact-form>
