<div class="item" *ngIf="product">
  <div class="item__img-wrapper">
    <img [src]="product.imgUrl" alt="" class="item__img" />
    <p class="item__bike-colors">{{ product.color.join('/') }}</p>
  </div>
  <div class="item__description">
    <h3 class="item__title">{{ product.name }}</h3>
    <p class="item__description">{{ product.description }}</p>
    <div class="item__price">{{ product.price | currency }}</div>
    <star-rating [starType]="'svg'" [rating]="rating" [readOnly]="true"></star-rating>
    <div class="item__quantity-reviews"></div>
    <div class="item__reviews-links">
      <a href="" class="item__link-to-reviews"></a>
      <a href="" class="item__add-review"></a>
    </div>
    <form action="" class="item__form">
      <mat-form-field>
        <mat-label>Color</mat-label>
        <mat-select class="item__select">
          <mat-option *ngFor="let color of product.color" [value]="color">{{ color }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Size</mat-label>
        <mat-select class="item__select">
          <mat-option *ngFor="let size of product.size" [value]="size">{{ size }}</mat-option>
        </mat-select>
      </mat-form-field>
      <p class="item__availabillity">Availabillity: Plese select options</p>
      <mat-form-field class="example-full-width">
        <mat-label>quantity</mat-label>
        <input matInput #number value="1" />
      </mat-form-field>
      <button mat-flat-button color="primary">
        <mat-icon>shopping_cart</mat-icon> Add to cart
      </button>
      <button mat-flat-button><mat-icon>auto_fix_high</mat-icon>Add to Wish List</button>
    </form>

    <!-- </div> -->
  </div>
</div>
