.form-nav 


.nav
  &__list
    width: 100vw
  &__container
    display: flex
    flex-wrap: wrap
    align-items: center
    padding: 20px
    gap: 30px
    // color: var(--color-text)
  &__link-item
    // color: 
    &:hover

.order
  margin-left: auto

mat-icon
  
.invalid
  color: red

.valid 
  color: green

