<mat-toolbar #list class="form-nav" color="secondary">
  <div class="nav__link-item" #nav1 routerLink="order-list" [ngClass]="form.itemsListClass">
    List Items
  </div>
  <div
    class="nav__link-item disabled"
    #nav2
    routerLink="address"
    [ngClass]="!nav2.classList.contains('disabled') ? form.addressClass : ''"
  >
    Address and Info
  </div>
  <div
    class="nav__link-item disabled"
    #nav3
    routerLink="payment"
    [ngClass]="!nav3.classList.contains('disabled') ? form.paymentClass : ''"
  >
    Payment
  </div>
  <div
    class="nav__link-item disabled"
    #nav4
    routerLink="date-delivery"
    [ngClass]="!nav4.classList.contains('disabled') ? form.deliveryDateClass : ''"
  >
    Delivery Date
  </div>
  <div class="nav__link-item disabled" routerLink="summarize" [ngClass]="">Summarize</div>
  <div class="new-order-btn">
    <button mat-stroked-button color="accent" (click)="createNewOrder()">Create New Order</button>
  </div>
</mat-toolbar>
