/* You can add global styles to this file, and also import other style files */
@import './node_modules/reset-css/sass/reset'
a
  text-decoration: none
  color: inherit
:root
  --red:#fa2626
  --orange:orange
  --mid-orange:#d6cc0c
  --color-text: white
*
  box-sizing: border-box
.container
  display: flex
  flex-direction: column
  align-items: center
  max-width: 1170px
  padding: 0 15px
  margin: 0 auto

app-contact
  width: 100%
